/* src/components/testSuite/TestSuiteSidebar.css */

.sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 2px solid #eee;
    position: relative;
    overflow: visible; /* щоб меню виходило назовні */
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: #fff;
    border-bottom: 2px solid #eee;
    z-index: 1;
}

.sidebar-content {
    flex: 1;
    overflow-y: auto;
}

.suite-node {
    user-select: none;
}

.suite-row {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 3px 6px;
    /* border-radius: 6px; */
    min-height: 30px;
    transition: background 0.15s;
}

.suite-row:hover,
.suite-row-selected {
    background: #e4e8ee;
}

.suite-row-selected {
    background: #b4cdfa !important;
}

.suite-row.selected {
    background-color: #eee;
}

.suite-icon {
    flex-shrink: 0;
    margin-right: 4px;    /* трохи “віддиху” перед текстом */
}

.suite-name {
    font-weight: 500;
    flex: 1 1 auto;
    color: #232324;
}

.suite-menu {
    margin-left: auto;
    margin-right: 8px;
}

.suite-menu-btn {
    background: none;
    border: none;
    padding: 0 4px;
    cursor: pointer;
}

.suite-menu .dropdown-menu {
    z-index: 2000;
}

.sidebar-resizer {
    width: 4px;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
